body {
    background-color: lightgrey;
    color: white;
    margin-top: -20px;
}

#main {
    background-color: black;
    width: 70%;
    display: block;
    margin: auto auto;
}

h1, h2, h3, p, li {
    margin: 20px 30px;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: yellow;
}

h2 {
    font-size: 42px;
    color: lightcoral;
}

h3 {
    font-size: 36px;
    color: lightgreen;
}

p {
    font-size: 24px;
}

li {
    font-size: 24px;
}

.link {
    font-size: 36px;
}

img {
    display: block;
    margin: auto auto;
    width: 50%;
    height: auto;
}

.ss-img {
    display: block;
    margin: auto auto;
    width: 100%;
    height: auto;
}


.menu-ul {
    list-style-type: none; /* take away the bullet */
    background-color: lightgrey;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

.menu-li {
    background-color: lightgrey;
    margin: 0 20px;
    border: 1xp solid black;
    border-radius: 30px;
    display: inline-block;
}

.menu-li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: inline-block;
}

h3 a {
    color: white;
    text-decoration: none;
}

.footer-p {
    font-size: 20px;
    padding-bottom: 25px;
}

#quote {
    margin: 30px 150px;
    padding: 30px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    line-height: 150%;
    font-weight: bold;
}